:root {
  --eps-color-primary-red: #d7000f;
  --eps-color-primary-green: #008a22;

  --eps-color-secondary-green-hover: #007430;
  --eps-color-secondary-green-contrast: #a5be24;
  --eps-color-secondary-hover: #c7d773;
  --eps-color-secondary-green-light-2: #eff1e5;
  --eps-color-secondary-green-light: #e5eeeb;

  --eps-color-alert-error-1: #e75113;
  --eps-color-alert-error-2: #ffdfdf;
  --eps-color-alert-success-1: #0ca537;
  --eps-color-alert-success-2: #d2f2db;
  --eps-color-alert-info-1: #6ca6ff;
  --eps-color-alert-info-2: #cfe2ff;
  --eps-color-alert-warning-1: #d98506;
  --eps-color-alert-warning-2: #ffe7c3;

  --eps-color-text-grey-400: #263039;
  --eps-color-text--grey-300: #626262;
  --eps-color-text--grey-200: #e8e8e8;
  --eps-color-text--grey-100: #f9f9f9;
  --eps-color-text-white: #ffffff;

  --eps-color-form-border: #c9c9c9;
  --eps-color-card-header: #e5eeeb;
  --eps-color-card-footer: #f9f9f9;

  --eps-color-tab-grey: #f4f3f3;
}
